fastapi
uvicorn
geopandas
pandas
numpy
scikit-learn
sentence-transformers
torch
torchvision
pillow
osmnx
networkx
streamlit
folium
requests
earthengine-api
geemap
celery==5.3.6
redis==5.0.1
python-dotenv
sqlalchemy
pytest
redis
torch-geometric
earthengine-api
onnx
onnxruntime
onnxscript